.dialog {
    border-bottom: 2px solid rgb(238, 255, 0);
    padding: 20px 0 20px 0;
}

.dialog .link{
    color: beige;
    text-decoration: none;
    cursor: pointer;
    padding: 2px 20px 2px 10px;
    
}

.dialog .active {
    color: rgb(0, 0, 0);
    border-radius:20px ;
    background-color: rgba(255, 251, 0, 0.932);
}

.avatar {
    margin-right: 5px;
    width: 50px;
    height: 60px;
}